﻿/* Base
----------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato);

* { -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }
body { font-family: 'Lato', sans-serif; min-width: 320px; min-height: 480px; margin: 0; }
a { text-decoration: none; color: #000; }

/* Common
----------------------------------------------------------------------*/
.container { width: 720px; padding: 0 15px; margin: 0 auto; }
.absolute-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;
    text-align: center;
}
.align-center { text-align: center; }
.align-right { text-align: right; }
.spacer { margin-right: 10px; }
.logo { width: 100px; height: 100px; }
.top-block { display: inline-block; vertical-align: top; }
.pull-right { float: right; }
.field-validation-error { 
    color: #c0392b; 
    font-size: 12px; 
    margin-bottom: 5px;
    display: block;
}

/* Controls
----------------------------------------------------------------------*/
.button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    min-width: 100px;
    text-transform: uppercase; 
    letter-spacing: 1px;
}
.button-primary { background-color: #3366b2; }
.button-new { background-color: #3366b2; position: absolute; right: 120px; top: 40px;}
.button-success { background-color: #27ae60; }
.button-danger { background-color: #c0392b; }
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 5px;
}
.form-control:focus {
    border-color: #007681;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 102, 178, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 102, 178, 0.6);
}
.form-control-group .form-control {
   display: inline-block;
   margin-bottom: 0;
}
.form-description { color: #8c9899; font-size: 12.4px; margin-bottom: 5px; }

.button-new {
    position:absolute;
    top: 40px;
    width: 120px;
    background-color:lawngreen;
}


/* Form
----------------------------------------------------------------------*/
.form { padding: 0 15px; }
.form .form-control { width: 300px; }
.form-center > div {    
    padding: 0 15px;
    width: auto;
    height: 400px;
    text-align: center;
}
.form-center img { width: 150px; height: 150px; }

/* Header
----------------------------------------------------------------------*/
.header { 
    padding-top: 20px; 
    min-width: 90px; 
    margin-bottom: 25px; 
    position: relative;
}
.header h2 { 
    height: 100px; 
    line-height: 100px;
    margin: 0;
    margin-left: 10px;
}
.header .button-danger {
    position: absolute;
    top: 40px;
    right: 10px;
}

/* Home
----------------------------------------------------------------------*/
.home p { margin-top: 40px; }
.home .button { text-transform: uppercase; width: 200px; letter-spacing: 1px; }

/* Login
----------------------------------------------------------------------*/
.login .form-control,
.login .button  { 
    width: 250px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

/* Login
----------------------------------------------------------------------*/
.search .form-control.height { width: 164px; }
.search .form-control.height.right { width: 124px; }
