﻿@model NCD.Models.SearchViewModel
@{
    ViewBag.Title = "Log in";
}

@section header {
    @Html.Partial("_Header")
}

<hgroup class="title">
    <h2>You placed you search unsucessfully:</h2>
</hgroup>

<h3>
    Your search don't returned results. Click here to @Html.ActionLink("do another search.", "Index", "Criminal", null, new { @class = "button button-primary responsive spacer" })
</h3>