﻿<div class="header">
    <img src="~/Content/img/spectre.png" class="logo top-block"/>

    <h2 class="top-block">National Criminals Database</h2>
    
    @if (this.Request.IsAuthenticated)
    {

        if (ViewBag.Title == "Manage")
        {
            using (Html.BeginForm("Index", "Criminal", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="button button-new">Criminal</button>
            }
        }
        else
        {
            using (Html.BeginForm("Index", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="button button-new">Manage</button>
            }
        }

        using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="button button-danger">Logout</button>

        }

    }
</div>

