﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Criminals</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        @RenderSection("header", false)
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>